{% extends "guides/index_base.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>AboutUs</title>
    <meta name="description" content="guides guide">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block content %}
<div class="page-content grid-container" style="margin:20px;">
        <h3>¯\_(ツ)_/¯</h3>
        <br/>
        <p>Contacts: Hive@vivaldi.net</p>
</div>
{% endblock %}
