{% extends "guides/index_base.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>AboutUs</title>
    <meta name="description" content="guides guide">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block content %}
<div class="page-content grid-container" style="margin:20px;">
        <h3>¯\_(ツ)_/¯</h3>
        <br/>
        <h5>I cant edit my guide! Why?</h5>
        <p>You cant change guide sections\tags right now, will fixed soon. Also, you need reload image.</p>
</div>
{% endblock %}
