{% extends "guides/header.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>Guide creation</title>
    <meta name="description" content="guides guide">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block main %}
<div class="guide_creation">
   <form action="{% url 'guides:create_guide' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.media }}
       {{ form.as_p }}
       <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
