{% extends "guides/index_base.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>Guide: {{ guide.guide_name }}</title>
    <meta name="description" content="guides guide">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'guides/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block content %}
<div class="page-content grid-container">
    <div class="main-sector-1">
        <div class="guide">
            {% if guide %}
            <div class="title">
                <h3>{{ guide.guide_name }}</h3> by {{ guide.author }}
            </div>
            {% if user == guide.author %}
            <div class="edit-delete-menu inside-guide">
                <form action="{% url 'guides:delete_guide' %}" method="post" class="form-delete">
                    {% csrf_token %}
                    <input type="hidden" name="guide_pk" value="{{ guide.pk }}">
                    <input type="submit" class="hidden-button" id="delete_guide_{{ guide.pk }}">
                    <label for="delete_guide_{{ guide.pk }}">
                        <i class="material-icons delete-guide">delete</i>
                    </label>
                </form>
                <i class="material-icons edit-guide">edit</i>
            </div>
            {% endif %}
            <hr>
            <p>{{ guide.guide_text|safe }}</p>
            {% else %}
            <div class="title">
                <h3>This guide is not available</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
