{% extends "guides/index_base.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>Guides</title>
    <meta name="description" content="guides guide">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'guides/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block content %}
<div class="page-content grid-container">
    <div class="main-sector-1">
        {% for guide in guides_list %}
        <div class="card-square">
            <a href="{% url 'guides:guide' guide.pk %}">
                <div class="card-preview">
                    <img src="{{ guide.preview }}">
                </div>
                <div class="card-description">
                    <h5>{{ guide.guide_name }}</h5>
                    <p>{{ guide.description }}</p>
                </div>
            </a>
            <div class="card-buttons">
                {% if user.is_authenticated %}
                <form action="{% url 'guides:vote' %}" method="post" class="form-vote">
                    {% csrf_token %}
                    <input type="hidden" name="guide_pk" value="{{ guide.pk }}">
                    <input type="submit" class="hidden-button" id="vote_for_guide_{{ guide.pk }}">
                    <label for="vote_for_guide_{{ guide.pk }}">
                        {% if user not in guide.user_voted.all %}
                        <i class="material-icons vote-guide-icon">favorite_border</i>
                        {% else %}
                        <i class="material-icons vote-guide-icon">favorite</i>
                        {% endif %}
                    </label>
                </form>
                <div class="votes">
                    {{ guide.user_voted.all|length }}
                </div>
                {% else %}
                <i class="material-icons vote-guide-icon">favorite_border</i>
                <div class="votes">
                    {{ guide.user_voted.all|length }}
                </div>
                {% endif %}
                {% block buttons %}
                {% endblock %}
            </div>
        </div>
        {% endfor %}
        {% block extracards %}
        {% endblock %}
    </div>
</div>
{% endblock %}
