{% extends "guides/index_content.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>My guides</title>
    <meta name="description" content="guides guide">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'guides/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'guides/style.css' %}">
</head>
{% endblock %}

{% block buttons %}
<div class="delete-button">
    <form action="{% url 'guides:delete_guide' %}" method="post" class="form-delete">
        {% csrf_token %}
        <input type="hidden" name="guide_pk" value="{{ guide.pk }}">
        <input type="submit" class="hidden-button" id="delete_guide_{{ guide.pk }}">
        <label for="delete_guide_{{ guide.pk }}">
            <i class="material-icons delete-guide-icon">delete</i>
        </label>
    </form>
</div>
<div class="edit-button">
    <a href="{% url 'guides:edit_guide' guide.pk %}"><i class="material-icons">edit</i></a>
</div>
{% endblock %}

{% block extracards %}
<!-- Карточка для создания нового гайда -->
<div class="card-square">
    <a href="{% url 'guides:create_guide' %}">
        <div class="card-preview">
            <img src="{% static 'guides/work.png' %}">
        </div>
        <div class="card-description">
            <h5>Create a new awesome guide!</h5>
            <p>Just do it!<br>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </p>
        </div>
    </a>
    <div class="card-buttons">
        <i class="material-icons vote-guide">favorite</i>
    </div>
</div>
{% endblock %}
