body .mdl-layout__container {
    position: static;
}

.main-sector-1 {
    display: flex;
	flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

main.mdl-layout__content {
    min-height: 100vh;
    overflow-y: hidden;
}

main .mdl-layout__container {
    grid-area: menu;
}

.page-content {
    grid-area: main;
}

.pagination {
    margin: 20px auto;
    grid-area: pagination;
}

main.mdl-layout__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 220px auto;
    grid-template-areas:
        "menu main"
        "menu pagination";
}

@media (min-width: 1px) and (max-width: 1000px) {

    main.mdl-layout__content {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50px auto;
        grid-template-areas:
            "menu main"
            "menu pagination";
    }

    main .mdl-layout__container {
        width: 1000px;
    }
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin: 20px;
}

.mdl-card__actions button {
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}

.pagination a.active {
    background-color: #01579B;
    color: white;
    border-color: #01579B;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

a.chip__text {
    color: black;
    padding: 10px;
    text-decoration: none;
    background-color: #BDBDBD;
    margin: 10px 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
