body .mdl-layout__container {
    position: static;
}

.mdl-layout__header-row a {
    text-decoration: none;
    color: white;
}

.main-sector-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 0px;
    font-family: Roboto;
}

.main-sector-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

main.mdl-layout__content {
    min-height: 100vh;
    overflow-y: hidden;
}

main .mdl-layout__container {
    grid-area: menu;
}

.page-content {
    grid-area: main;
    background-color: #eeeeee;
}

.pagination {
    margin: 20px auto;
    grid-area: pagination;
    background-color: #eeeeee;
}

main.mdl-layout__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 220px auto;
    grid-template-areas:
        "menu main"
        "menu pagination";
    background-color: #eeeeee;
}

@media (min-width: 1px) and (max-width: 1000px) {

    main.mdl-layout__content {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50px auto;
        grid-template-areas:
            "menu main"
            "menu pagination";
    }

    main .mdl-layout__container {
        width: 1000px;
    }
}

.card-square {
    width: 320px;
    height: 350px;
    margin: 10px auto 10px auto;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
    background-color: #ffffff;
    z-index: 1;
}

.card-square a {
    font-size: 1rem;
    color: #616161;
    text-decoration: none;
}

.card-preview {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}

.card-preview img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.card-description {
    max-height: 128px;
    min-height: 128px;
    border-bottom: 1px solid #eeeeee;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
}

.card-description h5 {
    line-height: 1.2em;
    margin: 8px 0px 8px 0px;
}

.card-description p {
    line-height: 1.5em;
}

.card-buttons {
    min-height: 26px;
    max-height: 26px;
    margin: 7px 15px 7px 15px;
    font-size: 18px;
    color: #616161;
}

.card-buttons .votes {
    display: inline-block;
    vertical-align: 20%;
}

.delete-button, .edit-button {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding-left: 10px;
}

.delete-guide-icon, .vote-guide-icon {
    cursor: pointer;
}

.form-delete, .form-vote {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}

.pagination a.active {
    background-color: #01579B;
    color: white;
    border-color: #01579B;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

a.mdl-chip {
    margin: 10px;
}

.mdl-navigation a {
    color: black;
    text-decoration: none;
}

div.guide_creation {
    min-height: 100vh;
    margin: 20px;
}

.page-content .guide {
    margin: 20px;
    font-family: Roboto;
    color: #424242;
}

.page-content .guide h3 {
    margin-top: 0px;
    display: inline;
    color: #424242;
}

.edit-delete-menu {
    width: 100%;
}

.edit-delete-menu a {
    margin-right: 10px;
}

.django-ckeditor-widget {
    width: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
}

.comments-area {
    margin: 20px;
}

.comments-area hr {
    margin-bottom: 20px;
}

.comment {
    background: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
    margin: 10px 0px;
    padding: 20px;
    font-family: Roboto;
    color: #424242;
}

.comment-vote {
    float: right;
}

.comment-vote .votes {
    display: inline-block;
    vertical-align: 20%;
    margin-right: 5px;
}

.comment-vote form {
    display: inline-block;
}

.comment-vote form label {
    cursor: pointer;
}

.comment_author {
    display: inline-block;
    padding-bottom: 10px;
}

.comment_text {
    padding-top: 10px;
}

.comment-create {
    margin-top: 20px;
}

.comment-create form .mdl-button {
    margin-top: 15px;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: #bdbdbd;
}

div.mdl-textfield_description {
    width: 70%;
}

input[type="text"], textarea {
    background: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.hidden-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-hidden {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    margin: 10px 0px;
    display: inline-block;
}

.form-preview {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    width: 250px;
    display: inline-block;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    padding-top: 0px;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    z-index: 99;
    top: inherit;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-items div:last-child {
    border-radius: 0px 0px 3px 3px;
 }

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #3f51b5 !important;
    color: #ffffff;
}

.guide table {
    border-collapse: collapse !important;
    border: 0px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
    background-color: white;
}

.guide table caption {
    padding: 10px;
}

.guide thead tr th {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.guide tbody tr td {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}

.guide td, th {
    border-color: #bdbdbd;
    padding: 10px;
}

.guide pre {
    padding: 20px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
    background-color: white;
}

.guide blockquote {
    padding-left: 20px;
    margin-left: 0px;
    border-left: 5px solid #bdbdbd;
}

.guide blockquote::after, blockquote::before {
    content: '';
}

.guide img {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25),
                0 0 1px rgba(0,0,0,0.2);
}
